body{background: #eeeeee;}
a:hover{color: #c6ae7c !important;}
.noSelect{-moz-user-select: none;}
.min1320{min-width: 1320px;margin:0 auto;}
.minh340{min-height:340px;}
.w1320{width: 1320px;margin:0 auto;}
.w1040{width: 1040px;margin:0 auto;}
.w1250{width: 1250px;margin:0 auto;}
.z999{z-index: 999;}
.m-200{margin-top: -200px;}
.padd120{padding-left:120px;padding-right: 120px;}
.padd30{padding-left:30px;padding-right: 30px;}
.padd40{padding-left:30px;padding-right: 30px;}
.padd60{padding-left:60px;padding-right: 60px;}
.padd80{padding-left:80px;padding-right: 80px;}
.padd100{padding-left:100px;padding-right: 100px;}
.cursor-stop{cursor:url(../images/stop.png),auto;}
.header{height: 500px;width: 100%;background:url("../images/top_bg.jpg") no-repeat center;position: relative;}

/*首页*/
.font_362 {
	color:f1c362;
}
.outArea.head {
		height: 60px;
	line-height: 60px;
	background: #fff;
}
.inArea {
	margin: 0 auto;
}
.outArea.head >.inArea {
	height: 60px;
	line-height: 60px;
	padding:0 45px;
}
.outArea.head .logo {
	vertical-align: middle;
	float: left;
}
.outArea.head .login {
	float: right;
}
.outArea.head .login span,
.outArea.head .login a {

	display: inline-block;
	*display: inline;
zoom:1;

}
.outArea.head .login a  {
	color: #aaaaaa;
}
.outArea.head .login span {
		width: 145px;
	height: 60px;	
	text-indent: 50px;
	color: #333333;
	line-height: 60px;
	
}
.outArea.contentAr1 {
	padding-top: 15px;
	padding-bottom: 50px;
}
.contentAr1 .content1 ul{
	width: 1250px;
margin: 0 auto;
}
.contentAr1 .content1 ul li{
	width: 200px;
	height:280px;
	margin: 15px 22px;
		border: 1px solid transparent;
}
.contentAr1 .content1 ul li a{
	display: block;	
}
.contentAr1 .content1 ul li:hover{
	border: 1px solid #f1c362;
}
.contentAr1 .content1 ul:after {
content: ""; display: inline-block;*display:inline;*zoom:1;width: 100%;height:0;
}
/*dropAuthor*/

.leftDiv {
	width: 20%;
	background: #eeeeee;
}
.leftDiv >div {
	margin-top: 35px;
	text-align: center;
}
.leftDiv >div a {
	font-size: 16px;
	color: #666666;
}
.leftDiv >div a:hover {
	color: #333333!important;
}
.rightDiv {
	width: 80%;
	padding-top: 20px;
	background: #fff;

}
.rightDiv>form .input_all {
	margin-left: 100px;
	margin-bottom: 23px;
}
.rightDiv>form .input_all label {
	    display: inline-block;
    *display: inline;
    *zoom:1;
	font-size: 14px;
	width: 135px;
	padding-left: 10px;
	color: #333333;

}
.rightDiv>form .input_all input,
.rightDiv>form .input_all select{
	width: 288px;
	padding-left: 10px;
	height: 38px;
	border: 1px solid #dedede;
	border-radius: 3px;
}
.rightDiv>form .input_all select {
	width: 300px;
	height: 40px;
	vertical-align: middle;
}
.rightDiv>form .input_all.size >input {
	width: 108px;
	padding-left: 10px;
}
.wi430 {
	width: 390px;
	padding:20px;
	height: 160px;
	background: #f9f9f9;
	border-radius: 3px;
}
.div-390 {
	width: 390px;
	margin-bottom: 20px;
}
.div-390 label{
	width: 85px!important;
	padding-left: 0!important;
}
.add_adress {
	padding-left: 255px;
	color: #666666;
	font-size: 14px;
	text-decoration: underline;
	margin-bottom: 30px;
	margin-top: -15px;
}
.logistic {
	padding-left:30px;margin-left:15px;width:90px;background:url('../images/icon4.png') no-repeat 10px center
}
.win-630 {
	width: 600px;
	height: 170px;
	padding: 15px;
	background: #f9f9f9;
}
.win-160 {
	width: 160px;
	height: 160px;
	overflow: hidden;
	background: #f9f9f9 url('../images/icon3.png') no-repeat center center;
}
.win-160 >span.delet {
	position: absolute;
	right: -9px;
	top: -9px;
  height: 18px;
  width: 18px;
  background: url('../images/delet_03.png');
}
.win-160>img{
	width: 100%;
	height: 100%;
}
.btn_click {
	width: 180px;
	height: 40px;
	margin: 0 15px;
	line-height: 40px;
	text-align: center;
	background: #f9f9f9;
	font-size: 14px;
}
.btn_click:hover{
	background: #f1c362!important;
	color: #ffffff!important;
}
.author {
	position: relative;
}
.choose_author {
	position: absolute;
	width: 775px;
	height: 682px;
	background: #fff;
}
/*国画*/
.pos {
		top: 60px;
	left: 145px;
	background: #fff;
	box-shadow: 0px 1px 34px 1px #d3d3d3;
	border-radius: 3px;
}
.painting {
	width: 660px;
	height: 160px;
	padding: 20px 0px;
		opacity: 0;
transition :all .3s;

}
.painting >div {
	width: 100%;
	height: 120px;
		border-bottom: 1px solid #eeeeee;
}
.painting >div ul {
	height: 120px;
	width: 640px;
}
.painting >div ul li a{
	    display: inline-block;
    *display: inline;
    *zoom:1;
	float: left;
	width: 138px;
	height: 38px;
	margin-left: 20px;
	margin-bottom: 20px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	border: 1px solid #ededed;
	border-radius: 3px;
}
.painting >div ul a:hover{
	background: #f1c362;
	color: #ffffff!important;
}
.sure {
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 14px;
	color: #333;
	float: right;
}
.cancel {
	height: 60px;
	width: 60px;
	line-height: 60px;
	text-align: center;
		font-size: 14px;
	color: #333;
	float: right;
}
/*艺术类型*/
.artwork {
	width: 660px;
	height: 160px;
	padding: 20px 0px;
	opacity: 0;
transition :all .3s;

	z-index: 999;
}
.artwork >div {
	width: 100%;
	height: 120px;
		border-bottom: 1px solid #eeeeee;
}
.artwork >div ul {
	height: 120px;
	width: 640px;
}
.artwork >div ul li a{
	    display: inline-block;
    *display: inline;
    *zoom:1;
	float: left;
	width: 138px;
	height: 38px;
	margin-left: 20px;
	margin-bottom: 20px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	border: 1px solid #ededed;
	border-radius: 3px;
}
.artwork >div ul a:hover{
	background: #f1c362;
	color: #ffffff!important;
}
/*编辑艺术品*/
.rightDiv .obj_art {
	height: 290px;
	width: 190px;
	overflow: hidden;
  left: 830px;top: 0;
}
.rightDiv .obj_art img {
	width: 100%;
	height: 100%;
}
.dele_art:hover {
	background: #dc5329!important;
}
.shade {
	opacity: 0;
transition :all .3s;
}
.show {
	opacity: 1;
	transition :all .3s;
}
.cover {
	width: 100%;
	height: 285px;
	top: 0;
	left: 0;
	background: #000;
	opacity: .5;
	line-height: 290px;
	text-align: center;
	color: #fff;
	/*display: none;*/
}
.cover-txt {
	top: 0;
	left: 0;
	width: 100%;
	opacity: 1;
	text-align: center;
	color: #fff;
	line-height: 290px;
}

/*发布活动  陈设案例*/
/*统一样式*/
.return-page {
	width: 100%;
	height: 40px;
	padding-left: 57px;
	
	line-height: 40px;
	background:url('../images/icon8.png') no-repeat 30px center ;
}
.return-page a {
	font-size: 14px;
	color: #aaaaaa;
}
.borRai-3 {
border-radius: 3px;
}
.borRai-l{
	border-bottom-left-radius: 3px!important;
	border-top-left-radius: 3px!important;
}
.borRai-r{
	border-bottom-right-radius: 3px!important;
	border-top-right-radius: 3px!important;
}
.leftDiv.publishAct_lefthead> div{
	margin-top: 23px;
}
.leftDiv.publishAct_lefthead a:hover{
	font-weight: bolder;
	color: #333333;
}
.leftDiv.publishAct_lefthead> div:nth-child(1) {
	margin-top: 35px;
}
.publishAct_right .input_all .selet-100 {
	width: 101px;
	height:40px;
	margin:0 -2px;
	border-radius: 0;
}
.bor-col {
  border: 1px solid #dedede;
}
.win-720 {
	width: 720px;
	overflow: hidden;
}
.hei-580 {
	height: 580px;
}
.write {
		width: 720px;
	height: 580px;
overflow-y:scroll;
}
.write textarea {
	padding: 10px;
		width: 100%;
	height:100%;
	border: none;
}
.writeTitle {
	border-bottom: 1px solid #dedede;
	padding-left: 20px;
	height: 40px;
}
.writeTitle a {
line-height: 40px;
margin-right: 40px;
}
.upload {
	width: 163px;
	height: 163px;
	top: 60px;
	left: 820px;
	z-index: 999;
	background: #eeeeee;
}
.upload >div {
	height: 100%;
}
.upload img {
	width: 100%;
	height: 100%;
}
.dele_art:hover {
	background: #dc5329!important;
}
.upload .cover {
	width: 100%;
	height: 163px;
	top: 0;
	left: 0;
	background: #000;
	opacity: .5;
	line-height: 290px;
	text-align: center;
}
.upload .cover-txt {
	top: 0;
	left: 0;
	width: 100%;
	opacity: 1;font-size: 14px;
	text-align: center;
	color: #333333;
	line-height: 163px;
}
.upload_cover {
		height: 100%;
	width: 100%;
	background: #000;
	opacity: 0;
}
.upload_cover:hover {
opacity: .2;
}

/*发布活动资讯*/ 
.win-500{
	width: 500px!important;
}
.edit-upload {
	width: 163px;
	height: 110px;
		top: 60px;
	left: 820px;
	z-index: 999;
	background: #eeeeee;
}
.edit-upload >div {
		width: 100%;
	height: 100%;
}
.edit-upload .cover_hover {
	width: 100%;
	height: 100%;
	line-height: 110px;
}